.input-container {
  height: 10vh;
  width: 85vw;
  background-color: rgb(82, 117, 117);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.input-container label {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(250, 214, 170);
}

.input-container input {
  height: 2.5rem;
  width: 60vw;
  background: rgb(49, 91, 91);
  border: none;
  color: rgb(250, 214, 170);
  border-radius: 8px;
  padding: 0.3rem 1.8vw;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.input-container input::placeholder {
  color: rgba(230, 195, 152, 0.857);
  font-size: 1rem;
}

.button-add {
  height: 2.5rem;
  min-width: 10vw;
  padding: 0 0.3rem;
  background-color: rgb(250, 214, 170);
  color: rgb(49, 91, 91);
  font-size: 1.3rem;
  border: none;
  font-weight: 400;
  border-radius: 6px;
  cursor: pointer;
}

.button-add:hover {
  background-color: rgb(250, 222, 188);
  border: 1px solid rgb(49, 91, 91);
}

@media screen and (max-width: 767px) {
  .input-container {
    height: 21vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .input-container input {
    height: 2.5rem;
    width: 90%;
  }
}
